<template>
  <div id="app">
    <h1>{{ msg }} </h1>

    <div>
    <table>
     <th>Name</th><th>Year</th>
     <tr v-for="p in people"><td>{{p.name}}</td><td>{{p.born}}</td><td><a href="/edit">Edit</a></td></tr>
    </table> 
    </div>

    <div>
    <ul>  
       <li v-for="n in 10">{{11 - n}}</li>  
       <li>launch missile!</li> 
    </ul>
    </div>

   <div>
   <button v-on:click="toast">Toast bread</button></div> 
   </div>

  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      people: [
           { id: 0, name: "Janka", born: 1979 },
           { id: 1, name: "Gabko", born: 1977 }
      ]
    }
  },
  methods: {
   toast() {
    this.msg = "Toasted";
   }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

a {
  color: #42b983;
}
</style>
